    @media screen and (max-width:700px) {
        #video-intro {
            visibility: hidden;
        }
        #span-nav {
            display: none;
        }
        #about img {
            min-width: 150px;
        }
        body {
            max-width: 85%;
        }
        #span-footer {
            display: none;
        }
        form {
            max-width: 100%;
        }
        #space-div {
            padding-top: 18%;
        }
    }