* {
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

header i,
footer i {
    font-size: xx-large;
    margin: 2px;
}

#space-div {
    margin-top: 50px;
    padding-top: 5%;
}

a:link,
a:hover,
a:visited,
a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
}


/* Navbar and btn style bootstrap remove*/

.btn,
nav {
    border: none;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link:focus,
.nav-link:hover {
    color: #000000;
}


/* home style*/

#video-intro {
    max-width: 50%;
}

#title-style {
    margin: 15px;
}


/* skills */

#myTab {
    text-align: right;
}

#tab-box {
    text-align: left;
}


/* contact */

form {
    max-width: 60%;
}


/* about */

#about img {
    float: left;
    padding: 2%;
    max-width: 300px;
}

#about .container {
    text-align: justify;
}

#img-carousel {
    margin: auto 10% auto 10%;
}

.card {
    border: none;
}

#btn-captions .btn {
    background-color: red;
    padding-top: 5%;
}